body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  animation: fadein 2s;
}

#levelLayer,
#luaLayer,
body,
html {
  touch-action: none;
}

#mainInfo {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  bottom: 100%;
  background: #ffffff88;
  transition: 1s;
  font-family: monospace;
  font-size: 30px;
}

#mainInfo > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#infoOpen {
  position: absolute;
  width: 100px;
  height: 50px;
  border-color: #00000088;
  border-bottom-left-radius: 10px;
  outline: none;
  top: 0;
  right: 0;
  background: #ffffff88;
  font-family: monospace;
}

#moreBtn {
  width: 50px;
  height: 50px;
  background-color: #ffffff88;
  border: solid thin black;
  border-radius: 5px;
  font: 15px monospace;
  position: absolute;
  right: 0;
  padding: 0;
}

.mobileBtn {
  width: 100px;
  height: 100px;
  font: 50px monospace;
  text-align: center;
  background: #ffffff88;
  border: solid thin black;
  border-radius: 5px;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.mobileMoreBtn {
  width: 300px;
  height: 35px;
  font: 15px monospace;
  background: #ffffff88;
  border: solid thin black;
  border-radius: 0px;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  display: block;
}

.mobileMoreBtnDesc {
  position: absolute;
  top: 9px;
  left: 10px;
  font-weight: bold;
}

.mobileMoreBtnKey {
  display: none;
  position: absolute;
  top: 9px;
  right: 12px;
}

#mobileControlsTop {
  z-index: 99;
}

#mobileControlsTop > div {
  position: relative;
  top: 50px;
  right: 0;
  width: 300px;
  height: calc(100vh - 100px);
  overflow: auto;
}

#mobileControlsTop > div > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: calc(100vh - 100px);
  overflow: auto;
}

#timer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: monospace;
  font-size: 20px;
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "DSEG7-7SEGG";
  src: url("../fonts/DSEG7Modern-Regular.woff2") format("woff2"),
    url("../fonts/DSEG7Modern-Regular.woff") format("woff"),
    url("../fonts/DSEG7Modern-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#chat {
  position: absolute;
  width: 350px;
  background-color: #ffffffbb;
  border-radius: 0 0 25px 0;
  height: 300px;
  font-family: monospace;
  overflow: auto;
}

#chatInput {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #ffffffbb;
  font-family: monospace;
  border-radius: 0;
  border: none;
  width: 100vw;
}

p {
  margin: 2px;
}

#players {
  display: none;
  position: absolute;
  width: 350px;
  top: 100px;
  left: calc(50vw - 175px);
  background-color: #00000088;
  padding: 3px;
  font-family: monospace;
  font-size: 15px;
  line-height: 15px;
  color: white;
}

.player {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 3px;
}

.playerCmpgn {
  float: right;
  font-size: 12px;
}